* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background.png');
}

.container {
    width: 80vw;
    margin: 0 auto;
}

header {
    margin-top: 50px;
    height: 220px;
    background-image: url('../img/imgheader.jpg');
    border: 10px solid white;
    position: relative;
}

header h1 {
    padding: 0 10px;
    border: 3px solid white;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header h3 {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu {
    height: 50px;
    background-color: rgb(80, 71, 65);
    margin-bottom: 25px;
    text-align: center;
}

ul {
    display: inline-block;
}

li {
    display: inline-block;
    padding: 0 12px;
    font-size: 20px;
    line-height: 50px;
    color: white;
    letter-spacing: 1px;
}

li:hover {
    cursor: pointer;
    cursor: hand;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

aside {
    float: left;
    width: 17%;
    /* background-color: white; */
}

main {
    float: left;
    width: 66%;
    background-image: url('../img/background.png');
    padding: 0 80px;
}

main .content {
    height: 100%;
    background-color: white;
}

.content {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

footer {
    border-radius: 10px;
    margin: 10px auto;
    height: 100px;
    background-color: white;
    text-align: center;
}

footer h4 {
    padding: 3px;
    display: inline-block;
    width: 95%;
    border-bottom: 1px solid gray;
}
